* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  color: var(--bg-light);
  padding: 16px 24px;
  display: flex;
  align-items: center;
  z-index: 20;
}

.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--bg-light);
}

/* TEXTO ORQUIDEA */
.texto_orquidea {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;;
  color:#ffffff;
  font-size: 50px;
  padding-left: 10px;
}

/* LOGO ORQUIDEA */
.logo_img {
  width: 175px;
  height: 175px;
}


  /* BOTÃO PARA IR PRA PAGINA DO PESQUISADOR */
.button_page {
  margin-left: 70px;
  background-color: white;
  color: #095fc0;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button_page:hover {
  background-color: #e0e0e0;
}


/* ========== SESSÃO 1 ==============*/


.section_search {
  position: relative;
  padding-top: 100px; 
  background: linear-gradient(180deg, #15202B 0%, #000000 100%);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.logo-pos {
  position: absolute;
  top: 100px;
  left: calc(52% - 300px); 
  display: flex;
  align-items: center;
  z-index: 20;
}


.titulo {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  width: 70%;
  text-align: center;
  padding-bottom: 42px;
  gap: 30px;
}

/* A barra de pesquisa propriamente dita */
.searchbar {
  padding: 12px 14px;
  border-radius: 8px;
  width: 450px;
  min-height: 40px;
  border: 2px solid rgba(255,255,255,0.5);
  transition: width 0.3s ease,
              height 0.3s ease,
              box-shadow 0.3s ease,
              border-color 0.3s ease;
}

.searchbar:focus {
  width: 600px;
  height: 48px;
  box-shadow: 0 0 8px rgba(255,255,255,0.5);
  border-color: #ffffff;
  outline: none;
}
/* Botão do lado da barra de pesquisa */
.button_search {
  margin-left: 25px;
  background-color: white;
  color: goldenrod;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button_page:hover {
  background-color: #e0e0e0;
}


/* ============ SESSÃO FLASHCARDS ===============*/

.section_comp{
  background-color: #000000;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  gap: 35px;
}

.flashcard { /* versao colapsada dos itens interativos */
  background: linear-gradient(180deg, #15202B 0%, #15202B 20%, #000000 100%);
  width: 20%;
  height: 180px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  gap: 10px;
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  transition: 
    height 0.4s ease, 
    box-shadow 0.3s ease;
  cursor: pointer;
}


.flashcard:hover { /* versao expandida dos itens interativos */
  height: 300px;      
  box-shadow:
    0 6px 30px rgba(255, 255, 255, 0.3),
    0 4px 16px rgba(0, 0, 0, 0.5);
}


.flashcard img { /* imagem do item interativo */
  padding-top: 20px;
  width: 80px;
  height: 80px;
}


.flashcard h2, /* título do item interativo */
.flashcard p { /* texto do item interativo */
  color: white;
  margin: 8px 0;
  padding: 0 8px;
}

.flashcard p {
  display: none;
}

.flashcard:hover p {
  display: block;
  margin-top: 8px;
  padding: 0 8px;
  color: white;
}
/* ========= PÁGINA DO PESQUISADOR =========*/

.researchSection {
  background-color: rgb(225, 225, 233);
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction:row;
  
  padding-left: 40px;
  padding-top: 40px;
}

.researchCard {
  background-color: white;
  padding: 45px;
  width: 30%;
  height: 400px;


  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.researchCard p{
  padding-top: 15px;
}

.researchCard img {
  background-color: aqua;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}


.researchInfo {
  background-color: white;
  padding: 45px;
  width: 65%;
  height: 400px;
  margin-left: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.researchInfo p {

  padding-top: 10px;
  padding-bottom: 10px;

}

.researchInfo li {
  padding-top: 15px;
}


/* ============= FOOTER =============== */

.footer{

  background-color: black;
  color: white;
  padding: 42px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p{
  font-style: normal;
  font-size: 13px;
}
